#name_container {
    display: flex;
    align-items: center;
    gap: 16px;
    text-decoration: none;
    color: #41596d;
}

#site_name {
    margin: 0px;
}

#menu_button {
    color: #41596d;
}

#site_logo {
    padding-top: 7px;
}

.nav_links {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: #41596d;
    overflow-x: hidden;
    transition: 0.4s;
    padding-top: 60px;
}

.nav_links a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #cddbe7;
    display: block;
    transition: 0.3s;
}

.nav_links a:hover {
    color: #afc0cc;
}

.nav_links .close_button {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

.menu_button{
    font-size:50px;
    cursor:pointer;
    padding-right: 10px;
    padding-top: 10px;
}

@media screen and (max-height: 450px) {
    .nav_links {padding-top: 15px;}
    .nav_links a {font-size: 18px;}
}

body {
    width: 100%;
    margin: 0px;
}

header {
    background-color: #839cb0; 
    padding: 0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
    display: flex; 
    justify-content: space-between; 
    align-items: center; 
    text-align: center;
    max-height: 80px;
}

footer {
    border-top: #445c6f 2px solid;
    text-align: center;
    align-items: center;
}

.sriracha {
    font-family: "Sriracha", serif;
    font-weight: 400;
    font-style: normal;
}

* {
    font-family: 'SriraCha';
}
  